.hero-slider{
position:relative;
width:100%;
height:90vh;
overflow:hidden;
}

.slider-image{
width:100%;
height:100%;
object-fit:cover;
display:block;
}

/* slider buttons */

.slide-btn{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.6);
color:white;
border:none;
font-size:35px;
padding:10px 15px;
cursor:pointer;
border-radius:5px;
}

.prev{
left:20px;
}

.next{
right:20px;
}

.slide-btn:hover{
background:black;
}